
.userForm {
    text-align: center;
}
.css-form{
    background-color: lightcyan;
    padding: 15px;
}

.uname{
    margin-top: 10px;
}
.uemail{
    margin-top: 10px;
}
.uurl{
    margin-top: 10px;
}
.ucoverletter{
    margin-top: 10px;
}
.coverLetterText{
    display: inline-block;
    margin-bottom: 40px;
    vertical-align: middle;   
    margin-top: 10px;
}
.uworking{
    margin-top: 10px;
}
.ucaptcha{
    margin-top: 10px;
}

